.experiencias {
    width: 50%;
    border: 1px solid black;
}

.linha-vertical {
    width: 1px;
    height: 100px;
    background-color: black;
}

.qualificacoes {
    width: 33, 33%;
    border: 1px solid black;
}
