.tablee {
    width: 100%;
    border-collapse: collapse;
}

.cabecalho {
    font-size: 25px;
}

.aviso {
    background: #fff0f5;
    border: 10px solid #000;
    border-color: ;
    font-size: 25px;
    text-align: center;
}

.bla {
    font-size: 20px;
}

.pdoaviso {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.cabecalho2 {
    width: 20%;
    height: 5px;
    text-align: right;
}

.titulo {
    border: 5px solid blue;
    text-align: center;
    font-size: 20px;
    font-family: "Arial", sans-serif;
    background: #f0e68c;
    font-weight: bold;
}

.zona {
    font-size: 30px;
    width: 16, 66%;
    text-align: center;
}

.bairros {
    width: 100%;
    border: 5px solid black;
    font-size: 30px;
}

/* emoji de alerta &#9888;&#65039*/
